h2 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-top: 50px;
}

form {
  text-align: center;
  margin-top: 15px;
}

.book{
  width: 30%;
  height: 50px;
}



.btn-submit{
  text-align: center;
  margin: 15px;
}

input[type="submit"] {
  width: 30%;
    font-size: 15px;
    color: #fff;
    padding: 15px 0px;
    text-align: center;
	background-color: #5c87a6;
    border: 1px solid #5c87a6;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 1s;
}

/*--hover--*/
input[type="submit"]:hover {
    color: #5c87a6;
    background-color: #ffffff;
    border: 1px solid #5c87a6;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 1s;
}

#money {
  width: 30%;
  font-size: 30px;

}