h2 {
  text-align: center;
}

form {
  text-align: center;
}

.book {
  height: 40px;

}

.menu{
  display: flex;
  justify-content: space-around;
}

.header{
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

li{
  margin: 20px;
  list-style: none;
}

a {
  text-decoration: none
}