h2 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-top: 50px;
}

form {
  text-align: center;
  margin-top: 15px;
}

.book{
  width: 30%;
  height: 50px;
}

#moneyInput {
  margin-top: 30px;
  padding: 10px;
  min-width: 220px;
}

.yen {
  font-size: 18px;
}

.give-place {
  font-size: 18px;
}

.checkbox-container:first-of-type {
  margin-top: 30px;
}

.btn-submit{
  text-align: center;
  margin: 15px;
}

.any_location {
  padding: 10px;
  min-width: 220px;
}

.subject {
  margin-top: 20px;
}


input[type="submit"] {
  width: 30%;
    font-size: 15px;
    color: #fff;
    padding: 15px 0px;
    text-align: center;
	background-color: #5c87a6;
    border: 1px solid #5c87a6;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 1s;
}

/*--hover--*/
input[type="submit"]:hover {
    color: #5c87a6;
    background-color: #ffffff;
    border: 1px solid #5c87a6;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 1s;
}

#money {
  width: 30%;
  font-size: 30px;

}


/*------------------------------*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans);


/* チェックボックスとラベルを縦に配置するためのスタイルを追加 */
.boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px; /* 適切な間隔を指定してください */
}

/*Checkboxes styles*/
input[type="checkbox"] { 
  display: none; 
  text-align: center;
}

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  font: 14px/20px 'Open Sans', Arial, sans-serif;
  color: #000;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #5c87a6;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}