@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&display=swap");
@media screen and (max-width: 767.8px) {
  .is-pc {
    display: none !important;
  }
}

@media screen and (min-width: 768px) {
  .is-sp {
    display: none !important;
  }
}

html {
  font-size: 62.5%;
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
  html {
    font-size: 0.625vw;
    font-size: 0.52083vw;
    font-size: 1vw;
  }
}

body {
  overflow-x: hidden;
  font-family: "Noto Serif JP", serif;
  color: #000;
}

.wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  min-height: 100vh;
  position: relative;
  -webkit-overflow-scrolling: touch;
}

.container {
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
}

/*---------------------
商品一覧
---------------------*/
.product {
  padding: 10rem 0;
  font-size: 62.5%;
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
  .product {
    font-size: 0.625vw;
    font-size: 0.52083vw;
    font-size: 1vw;
  }
}

.product-item {
  background: #eee;
  padding: 4rem;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .product-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media screen and (max-width: 767.8px) {
  .product-item {
    text-align: center;
  }
}

.product-item:not(:first-child) {
  margin-top: 3rem;
}

@media screen and (min-width: 768px) {
  .product-detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
  }
}

.product-img {
  width: 100%;
  max-width: 200px;
}

@media screen and (max-width: 767.8px) {
  .product-img {
    max-width: 300px;
  }
}

.product-name {
  font-size: 2.3rem;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .product-name {
    margin-left: 2rem;
  }
}

@media screen and (max-width: 767.8px) {
  .product-name {
    margin-top: 20px;
    font-size: 22px;
  }
}

.product-author {
  font-size: 2rem;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .product-author {
    margin-left: 2rem;
  }
}

@media screen and (max-width: 767.8px) {
  .product-author {
    font-size: 16px;
  }
}

.product-btn {
  margin-top: 32px;
}

@media screen and (max-width: 767.8px) {
  .product-btn {
    text-align: right;
  }
}

.product-btn a {
  font-size: 1.4rem;
  position: relative;
  display: inline-block;
  padding: 20px 56px;
  background: #333;
  color: #fff;
  border-radius: 6px;
  font-weight: bold;
  white-space: nowrap;
}

.product-btn a::after {
  content: "";
  background: transparent url(../img/button-arrow.svg) no-repeat center/contain;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  right: 5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#search_button, #search_box ,h2{
  text-align: center;
  font-size: 2rem;
}

#search_box {
  width: 30%;
}

h2{
  font-weight: bold;
}

#search{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}