@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&display=swap");
body {
  overflow-x: hidden;
  font-family: "Noto Serif JP", serif;
  color: #000;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px;
}

.title {
  font-size: 36px;
}

.title-sub {
  font-size: 20px;
}

li {
  margin: 20px;
  list-style: none;
}

a {
  text-decoration: none;
}
