<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>認証してください</title>
  <link rel="stylesheet" href="/static/css/auth.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-auth.js"></script>
  <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
</head>

<body>
  <h1>メールを送信しました。認証してください。<br>※認証には時間がかかることがあります
    <p style="font-size: 14px;">お手数ですが何回か”メール認証しました”ボタンを試してください</p>
  </h1>
  <div id="main"></div>
  <button id="send" onclick="send()">もう一度メールを送る</button>
  <button id="veri" onclick="veri()">メール認証しました</button>


  <script src="/static/javascript/auth.js"></script>
  <!-- <script type="module" src="/static/javascript/config.js"></script> -->
  <script>
    const firebaseConfig = {{ config_data | tojson | safe }};

    firebase.initializeApp(firebaseConfig);

    var user = firebase.auth().currentUser;

    firebase.auth().onAuthStateChanged(function (user) {

      if (user != null) {
        // User is signed in.
        if (user.emailVerified) {
          // If user's email is verified, redirect to a new page.
          window.location.href = "/{{userdata}}/{{id}}/flag?uid=" + encodeURIComponent(user.uid) // ここに遷移したいページのURLを書く
        }
        else {
          user.sendEmailVerification();
        }
      } else {
        // No user is signed in.
        console.log("No user is signed in.");

      }
    });

    // ボタンがクリックされたときの処理を定義
    function send() {
      alert("メールが送られました！");
      user.sendEmailVerification();
    }

    function veri() {
      // 現在のページをリロード
      location.reload();
      var user = firebase.auth().currentUser
      if (user != null) {
        // User is signed in.
        if (user.emailVerified) {
          // If user's email is verified, redirect to a new page.
          alert("承認されました");
          window.location.href = "/{{userdata}}/{{id}}/flag?uid=" + encodeURIComponent(user.uid) // ここに遷移したいページのURLを書く
        }

        else {
          alert("承認されていません");
        }
      }
    }
  </script>
</body>

</html>