<!DOCTYPE html>
<html>

<head>
    <title>Chat Room</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        var username = prompt('Please enter your username:');
        var room = 'chat_room';

        socket.on('connect', function () {
            socket.emit('join', { username: username, room: room });
        });

        socket.on('load_messages', function (data) {
            var messages = data.messages;
            messages.forEach(function (msg) {
                appendMessage(msg.username, msg.message);
            });
        });

        function appendMessage(sender, message) {
            var chatBox = document.getElementById('chat-box');
            var messageElement = document.createElement('p');
            messageElement.innerHTML = sender + ': ' + message;
            chatBox.appendChild(messageElement);
        }

        function sendMessage() {
            var userMessage = document.getElementById('user-input').value;
            appendMessage(username, userMessage);
            socket.emit('send_message', { username: username, room: room, message: userMessage });
            document.getElementById('user-input').value = '';
        }


        socket.on('new_message', function (data) {
            appendMessage(data.username, data.message);
        });

        var socket = io();
        var user_id;

        // マッチングを行う
        function joinChatRoom() {
            user_id = document.getElementById('user-id-input').value;
            socket.emit('join', { 'user_id': user_id });
        }






    </script>
</head>

<body>
    <h1>Chat Room</h1>
    <div id="chat-box"></div>
    <input type="text" id="user-input" placeholder="Enter your message...">
    <button onclick="sendMessage()">Send</button>
</body>

</html>