<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Document</title>
  <link rel="stylesheet" href="/static/exhibit.css">
</head>
<body>
  <div class="header">
    <div class="title">
      <h1>ITF</h1>
      <p>Informative Textbook Fleamarket</p>
    </div>
  
      <ul class="menu">
        <li>購入情報</li>
        <li>出品</li>
        <li>Mypage</li>
      </ul>
    </div>



    <div class="shuppin">
        <form action="home.html" method="post">
            <input class="textbookname" type="text" placeholder="教科書名">
            <input class="btn-submit" type="submit" value="登録"> 
        </form>

    </div>


</body>
</html>