<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Exhibit</title>
  <link rel="stylesheet" href="/static/css/exhibit.css">
</head>
<body>
  <div class="header">
    <div class="title">
      <h1>ITF</h1>
      <p>Informative Textbook Fleamarket</p>
    </div>
  
      <ul class="menu">
        <li><a href="#">購入情報</a></li>
        <li><a href="/exhibit">出品</a></li>
        <li><a href="/mypage">Mypage</a></li>
      </ul>
    </div>

  <h2>出品</h2>
  <form action="POST">
    <div class="name">
      <input type="text" class="book" placeholder="教科書名">  
      <input type="text" class="subject" placeholder="科目名">
      <br>
      <input type="submit" class="btn-submit" value="登録">
    </div>
  </form>
  
</body>
</html>