<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Exhibit</title>
  <link rel="stylesheet" href="/static/css/exhibit.css">
</head>
<body>
  <h1>出品</h1>
  <form action="POST">
    <div class="name">
      <label>教科書名</label>
      <input type="text" class="book">  
    </div>
    <div class="place">
      <label>場所</label>
      <input type="radio" value="粉クリ">粉クリ
      <input type="radio" value="春日">春日
    </div>
    <div class="time">
      <label>時間</label>
      <input type="date">
      <input type="time">
    </div>
  </form>
  
</body>
</html>