<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ITF. ～Informative Textbook Fleamarket～</title>
  <link rel="stylesheet" href="/static/css/reset.css">
  <link rel="stylesheet" href="/static/css/home.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">

  {% block extra_css %}{% endblock %}
</head>

<body>
  <header>
    <div class="header">
      <a href="/guest_home" class="title-container">
        <h1 class="title">ITF.</h1>
        <p class="title-sub">Informative Textbook Fleamarket</p>
      </a>
      <!-- PC用メニュー -->
      <ul class="menu is-pc">
        <li><a href="/None/register">購入情報</a></li>
        <li><a href="/None/register">出品</a></li>
        <!-- <li><a href="/{{ username }}/seach_book">出品</a></li> -->
        <li><a href="/None/register">Mypage</a></li>
      </ul>
    </div>


    <!-- SP用メニュー -->
    <div id="navArea" class="is-sp">
      <nav>
        <div class="inner">
          <ul class="menu">
            <li><a href="/None/register">購入情報</a></li>
            <li><a href="/None/register">出品</a></li>
            <li><a href="/None/register">Mypage</a></li>
          </ul>
      </nav>

      <div class="toggle_btn">
        <span></span>
        <span></span>
        <span></span>
      </div>

      <!-- SP用メニュー -->
      <div id="navArea" class="is-sp">
        <nav>
          <div class="inner">
            <ul class="menu">
              <li><a href="/None/register">購入情報</a></li>
              <li><a href="/None/register">出品</a></li>
              <li><a href="/None/register">Mypage</a></li>
            </ul>
        </nav>
        <div class="toggle_btn">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div id="mask"></div>
      </div>
  </header>

  <h2 class="search-heading">教科書を検索</h2>
  <form action="/guest_home" method="POST" id="search">
    <input type="text" name="keyword" placeholder="教科書名を入力してください" id="search_box">
    <input type="submit" value="検索" id="search_button">
  </form>
  {% if results == None %}
  <p class="notext">商品がありません</p>
  {% else %}
  <div class="container">
    <section class="product">
      {% for result in results %}
      {% if result[0].to_dict().get("state") == "available" %}
      <div class="product-item">
        <div class="product-detail">
          {% if result[0].to_dict()['img'] != "None" %}
          <img src="{{ result[0].to_dict()['img'] }}" class="product-img" alt="">
          {% else %}
          <img src="/static/img/book.png" class="product-img" alt="">
          {% endif %}
          <div class="product-data">
            <h1 class="product-name">{{ result[0].to_dict()["bookname"] }}</h1>
            <p class="product-author">
                出品者：{{ result[0].to_dict()["seller"] }}
            </p>
          </p>
          <p class="product-price">値段：{{ result[0].to_dict()["price"] }}円</p>
          <p class="product-place-heading">受取場所候補一覧</p>
          <ul>
            {% if result[0].to_dict()["place"] != [] %}
            {% for i in result[0].to_dict()["place"] %}
            <li class="product-place">{{i}}</li>
            {% endfor %}
            {% endif %}
          </ul>

        </div><!-- /.product-data -->
      </div><!-- /.product-detail -->
      <div class="tab-product__link product-btn">
        <a class="button-arrow-right" href="/None/register">欲しい！</a>
      </div>
    </div>
    {% endif %}
 
    {% endfor %}
    {% endif %}
  </section>
</div>
<!-- 隠しフォームを作成 -->
<form id="exuserForm" action="/None/register" method="GET">
  <input type="hidden" name="exuser_id" id="exuserIdInput">
</form>


  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script src="/static/javascript/script.js"></script>
  <script>
    function submitForm(exuserId) {
      // フォームの入力要素に出品者のIDを設定
      document.getElementById('exuserIdInput').value = exuserId;

      // フォームを送信
      document.getElementById('exuserForm').submit();
    }
  </script>
</body>

</html>