<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ITF</title>
  <link rel="stylesheet" href="/static/css/home.css">
</head>
<body>
  <div class="header">
    <div class="title">
      <h1>ITF</h1>
      <p>Informative Textbook Fleamarket</p>
    </div>
  
      <ul class="menu">
        <li><a href="#">購入情報</a></li>
        <li><a href="/exhibit">出品</a></li>
        <li><a href="/mypage">Mypage</a></li>
      </ul>
    </div>

</body>
</html>