{% extends "base.html" %} {% block content %}

  <h2>検索</h2>
  <form action="/{{ id }}/home" method="POST" id="search">
    <input type="text" name="keyword" placeholder="教科書名を入力してください" id="search_box">
    <input type="submit" value="検索" id="search_button">
  </form>

  <div class="container">
    <section class="product">
      {% for result in results %}
      {% if result.to_dict().get("状態") != "sold" %}
      <div class="product-item">
        <div class="product-detail">
          {% if result.to_dict()['画像'] != "None" %}
            <img src="{{ result.to_dict()['画像'] }}" class="product-img" alt="">
          {% else %}
            <img src="/static/img/book.png" class="product-img" alt="">
          {% endif %}
          <div class="product-data">
            <h1 class="product-name">{{ result.to_dict()["教科書名"] }}</h1>
            <p class="product-author">出品者：{{ result.to_dict()["出品者"] }}</p>
            <p class="product-author">値段：{{ result.to_dict()["値段"] }}</p>
            {% for i in result.to_dict()["受け取り場所"]%}
            <p class="product-author">受け取り場所：{{ i }}</p>
            {% endfor %}

          </div><!-- /.product-data -->
        </div><!-- /.product-detail -->
        <div class="tab-product__link product-btn">
          <a class="button-arrow-right" href="/{{id}}/purchase_confirmation/{{ result.id }}">欲しい！</a>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </section>
  </div>
  <div><a href="/{{id}}/chat">チャット</a></div>


    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="/static/javascript/script.js"></script>
</body>
</html>
{% endblock %}