{% extends "base.html" %} {% block content %}

<h2 class="search-heading">教科書を検索</h2>
<form action="/{{ id }}/home" method="POST" id="search">
  <input type="text" name="keyword" placeholder="教科書名を入力してください" id="search_box">
  <input type="submit" value="検索" id="search_button">
</form>

<div class="container">
  <section class="product">
    {% if results == None %}
    <p class="notext">商品がありません</p>
    {% else %}
    {% for result in results %}
    {% if result[0].to_dict().get("state") == "available" %}
    <div class="product-item">
      <div class="product-detail">
        {% if result[0].to_dict()['img'] != "None" %}
        <img src="{{ result[0].to_dict()['img'] }}" class="product-img" alt="">
        {% else %}
        <img src="/static/img/book.png" class="product-img" alt="">
        {% endif %}
        <div class="product-data">
          <h1 class="product-name">{{ result[0].to_dict()["bookname"] }}</h1>
          <p class="product-author">
            <a class="user" href="#" onclick="submitForm('{{ result[1] }}')">
              出品者：{{ result[0].to_dict()["seller"] }}
            </a>
          </p>
          <p class="product-price">値段：{{ result[0].to_dict()["price"] }}円</p>
          <p class="product-place-heading">受取場所候補一覧</p>
          <ul>
            {% if result[0].to_dict()["place"] != [] %}
            {% for i in result[0].to_dict()["place"] %}
            <li class="product-place">{{i}}</li>
            {% endfor %}
            {% endif %}
          </ul>

        </div><!-- /.product-data -->
      </div><!-- /.product-detail -->
      <div class="tab-product__link product-btn">
        <a class="button-arrow-right" href="/{{id}}/purchase_confirmation/{{ result[0].id }}">欲しい！</a>
      </div>
    </div>
    {% endif %}
 
    {% endfor %}
    {% endif %}
  </section>
</div>
<!-- 隠しフォームを作成 -->
<form id="exuserForm" action="/{{id}}/userpage" method="POST">
  <input type="hidden" name="exuser_id" id="exuserIdInput">
</form>



<script>
  function submitForm(exuserId) {
    // フォームの入力要素に出品者のIDを設定
    document.getElementById('exuserIdInput').value = exuserId;
    
    // フォームを送信
    document.getElementById('exuserForm').submit();
  }
</script>

{% endblock %}