<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./static/css/home.css">

</head>
<body>
  <div class="header">
    <div class="title">
      <h1>ITF</h1>
      <p>Informative Textbook Fleamarket</p>
    </div>

    <div>
      <h2>フリマサイト - 購入情報</h2>

      <h3>商品情報</h3>
      <div id="product-info"></div> <!-- 商品情報を表示する要素 -->

      <!-- ここに商品情報の表示や入力フォームを追加します -->

      <h3>取引情報</h3>
      <form>
        <!-- 取引場所の入力フォーム -->
        <h4>取引場所</h4>
        <input type="radio" id="location1" name="location" value="東京">
        <label for="location1">東京</label><br>
        <input type="radio" id="location2" name="location" value="大阪">
        <label for="location2">大阪</label><br>
        <input type="radio" id="location3" name="location" value="名古屋">
        <label for="location3">名古屋</label><br>
        <!-- 他の場所のラジオボタンを追加する場合は、同様にinputとlabelを追加します -->

        <!-- 取引日時の入力フォーム -->
        <h4>取引日時</h4>
        <input type="radio" id="datetime1" name="datetime" value="今日">
        <label for="datetime1">今日</label><br>
        <input type="radio" id="datetime2" name="datetime" value="明日">
        <label for="datetime2">明日</label><br>
        <input type="radio" id="datetime3" name="datetime" value="1週間以内">
        <label for="datetime3">1週間以内</label><br>
        <!-- 他の日時のラジオボタンを追加する場合は、同様にinputとlabelを追加します -->
      </form>
    </div>

   </div>


</body>
</html>
