<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>ITF. - 会員登録</h1>
    <div>
        <form action="/register" method="POST" id="signup-form">
            ニックネーム(公開されます)
            <input type="text" name="user_name" placeholder="ニックネーム">
            学類
            <select name="school">
                <option value="" selected>選択してください</option>
                <option>情報科学類</option>
                <option>情報メディア創成学類</option>
                <option>知識情報・図書館学類</option>
                <option>理工</option>
                <option>応理</option>
                <option>体専</option>
            </select>
            学年
            <select name="year">
                <option value="" selected>選択してください</option>
                <option>B1</option>
                <option>B2</option>
                <option>B3</option>
                <option>B4</option>
                <option>M1</option>
                <option>M2</option>
            </select>
            <input type="submit" value="登録" id="signup">
        </form>
    
    </div>
</body>
</html>

